<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<title>Phoenix Musical - Membres</title>
	
	<link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.min.css">
	<link rel="stylesheet" href="/style.css">
	<link rel="stylesheet" href="/jquery.datetimepicker.css">
	
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="/jquery.datetimepicker.full.min.js"></script>
</head>
<body>
	<%- body %>
	
	<script>
	jQuery(function($){
		$('input[type=datetime]').datetimepicker({
			format: 'Y-m-d H:i'
		});
	});
	</script>
</body>
</html>
