<% layout('layouts/main') -%>

<div class="home-page">
	<div class="row">
		<div class="col-md-6">
			<% include components/calendar %>
		</div>
		<div class="col-md-6">
			<div class="list-group">
				<% posts.forEach(function(post){ %>
				<a class="list-group-item" href="posts/<%= post._id %>">
					<h4 class="list-group-item-heading"><%= post.name %></h4>
					<p class="list-group-item-text"><%= dateFormatter.datetime(post.dateUpdated) %></p>
				</a>
				<% }) %>
			</div>
		</div>
	</div>
</div>
