<% layout('layouts/main') -%>

<h1>Profil utilisateur</h1>

<p>
	<a class="btn btn-default" href="changePassword">Changer de mot de passe</a>
</p>

<p>Courriel: <%= currentUser.email %></p>
<p>Nom: <%= currentUser.name %></p>
