<% layout('layouts/main') -%>

<h1>Profile</h1>

<p>
	<a class="btn btn-default" href="changePassword">Changer de mot de passe</a>
</p>

<p>Email: <%= currentUser.email %></p>
<p>Name: <%= currentUser.name %></p>
