<% layout('layouts/main') -%>

<form class="form" method="post">
	<p>Êtes-vous certains de vouloir supprimer cet utilisateur?</p>
	<div class="actions">
		<a class="btn btn-default" href="users/manage">Annuler</a>
		<input type="submit" class="btn btn-danger" value="Supprimer">
	</div>
</form>