<% layout('layouts/main') -%>

<div class="post-view">
	<h3><%= post.name %></h3>
	
	<table class="table">
		<tbody>
		<% post.items.forEach(function(item){ %>
			<tr>
				<td>
					<strong><%= item.author.name %></strong><br>
					<%= dateFormatter.datetime(item.date) %>
				</td>
				<td>
					<%= item.content %>
				</td>
			</tr>
		<% }); %>
		</tbody>
		<tfoot>
			<tr>
				<td>
					
				</td>
				<td>
					<form method="post">
						<input type="hidden" name="type" value="comment">
						<div class="form-group">
							<textarea class="form-control" name="content" rows="4"></textarea>
						</div>
						<button type="submit" class="btn btn-primary">Envoyer</button>
					</form>
				</td>
			</tr>
		</tfoot>
	</table>
</div>
